# Thanks to https://shorturls.redwerks.org/
# /wiki/ address
RewriteEngine On
RewriteRule ^/?wiki(/.*)?$ %{DOCUMENT_ROOT}/index.php [L]

# Block unsupported file extensions
RewriteCond %{REQUEST_URI} ^/images/.*
RewriteRule !\.(png|gif|jpg|jpeg|webp|ogg|ogv|oga|flac|opus|wav|webm|mp3|midi|mid|mpg|mpeg|mp4)$ - [F,NC]


# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# NOTE: Add these lines to the Ngix proxy config to avoid the 502 error when calling load.php to get CSS files
#     proxy_buffer_size 128k;
#     proxy_buffers 4 256k;
#     proxy_busy_buffers_size 256k;
